<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register!</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body class="body" background="/static/images/comic-background.jpeg">
    <div class="container">
        <div class="page">
            <div class="header">
                <h1 class="web-title">Whats the Issue?</h1>
                <p class="web-descript">Follow people who interest you, stay up to date with what they're reading!</p>
            </div>
        </div>
        <div class="buttons">
            <a href="/login/page" class="btn btn-light mr-2">Login</a>
            <a href="/register/page" class="btn btn-dark">Register</a>
        </div>
    </div>
    <div class="container-2">
        <div class="site-descript">
            <h1>Welcome!</h1>
            <h3>What's the Issue is a social media site for Comic Book readers and lovers. Let people know what you're currently reading or what you have previously read. Follow and interact with others to see their catalogues. Discuss your favorite comics, heros, and movies together all in one place!</h3>
        </div>
    </div>
</body>
</html>