<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-2">
        <div class="post-format">
            <div class="form-page">
                <form action="/posts/update/submit/{{post.id}}" method="post" class="new-tree-form">
                    <h2 class="form-header">Tell us what you're reading!</h2>
                    <div class="flash_message">
                        {% with messages = get_flashed_messages() %}    
                        {% if messages %}                            
                            {% for message in messages %}            
                                <p>{{message}}</p>                   
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        <label for="comic_name">Comic Name:</label>
                        <input type="text" name="comic_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="content">Thoughts:</label>
                        <textarea id="content" name="content" rows="3" cols="30" placeholder="Let us know your thoughts on this comic!"></textarea>
                    </div>
                    <input type="submit" value="Add Post" class="btn btn-success">
                </form>
            </div>
    
</body>
</html>